<h1>Välj mat</h1>


<form class="example-form" (ngSubmit)="addFood($food)">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Här kan du skriva vad du har ätit" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="SelectedFood">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="addFood(SelectedFood)" *ngFor="let food of (filteredOptions | async)" [value]="food.name">
          {{food.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <ol>
    <li *ngFor="let food of addedFoods">{{food|json}}</li>
  </ol>

<a routerLink="/result" routerLinkActive="active-link"><button class='next' style="margin: 5px" color="primary" mat-raised-button (click)="checkVitaminCount()">See results</button></a>
<div *ngIf = 'loadComponent'>
  <app-result></app-result>
</div>
