<h1 class='select-titel'>Välj mat</h1>

<div class="all-select">
<form class="example-form" (ngSubmit)="addFood($food)">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Här kan du skriva vad du har ätit" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="SelectedFood">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="addFood(SelectedFood)" *ngFor="let food of (filteredOptions | async)" [value]="food.name">
          {{food.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <ol class="example-option">
    <li class="example-foods" *ngFor="let food of addedFoods">{{food|json}}</li>
  </ol>
</div>

<div class='result-buttons'>
<a class='prev' style="margin: 5px" mat-raised-button routerLink="">Tillbaka till startsidan</a>
<a class='next' style="margin: 5px" color="primary" mat-raised-button routerLink="/result" (click)="checkVitaminCount()">Räkna ut ditt vitaminintag</a>

</div>
