.result-list{
  margin: auto;
  width: 400px;
  border: 3px solid cornflowerblue;
  padding: 10px;
  background-color: lavender;
}

.result-buttons{
  text-align: right;
  margin: auto;
  width: 400px;
  padding: 10px;
}

.prev:hover {
  background-color: lightgray;
}

.next:hover {
  background-color: cornflowerblue;
}

.vit-titel{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-weight: lighter;
}

.list-RDI{
  float: right;
}
