<mat-toolbar>
      <a style="margin: 5px" mat-flat-button routerLink="" routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true }"><mat-icon>home</mat-icon></a>
      <a style="margin: 5px" mat-flat-button routerLink="/select-food-page" routerLinkActive="active-link">Välj mat</a>
      <a style="margin: 5px" mat-flat-button routerLink="/result" routerLinkActive="active-link">Resultat</a>
      <a style="margin: 5px" mat-flat-button routerLink="/suggested" routerLinkActive="active-link">Vitaminer Top 10</a>
</mat-toolbar>